.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.compat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2980b9;
    /* background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);
    background: linear-gradient(to top, #2c3e50, #2980b9); */
}

.compat-container main {
    width: 65%;
}

#discover {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    border: none !important;
}

.css-kzf2d7-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0px !important;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#companies {
    border-radius: 15px 0px 0px 15px !important;
}

.pop-search {
    background-color: rgba(128, 128, 128, 0.4) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.pop-search:active {
    width: 110%;
    height: 10%;
    white-space: nowrap;
    font-size: 80% !important;
}

#search-button {
    background-color: white !important;
    height: 56px;
    border-radius: 0px 8px 8px 0px !important;
    color: orange !important;
}

#search-button:hover {
    background-color: gray !important;
}

.pop-search .css-i4bv87-MuiSvgIcon-root {
    fill: orange !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}