    .App {
        text-align: center;
    }
    
    body {
        background-color: white;
    }
    /* header */
    /* width */
    
     ::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px orange;
        border-radius: 10px;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: rgb(164, 164, 164);
        border-radius: 10px;
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(126, 126, 126);
    }
    
    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #rap-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #2980b9;
        padding: 1em;
        width: 63%;
    }
    
    #rap-logo a {
        color: #2980b9;
        text-decoration: none;
    }
    
    .UserButtons {
        display: flex;
        justify-content: flex-end;
    }
    
    .HeaderLinks {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* white-space: nowrap; */
        width: 100%;
        padding: 1em 0;
    }
    
    #signup-btn {
        margin-top: 45px;
    }
    
    .left-links {
        display: flex;
    }
    
    .left-links a {
        text-decoration: none;
        color: black;
        display: flex;
        font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
        padding-right: 3.5em;
    }
    
    .left-links a:hover {
        border-bottom: orange;
    }
    
    #no-result {
        margin-top: 21px;
    }
    
    #ForEmployers {
        display: flex;
        justify-self: flex-end;
        /* justify-content: flex-end;  */
    }
    
    #ForEmployers a {
        text-decoration: none;
        padding-right: 1em;
        color: black;
    }
    
    .compat-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #2980b9;
        background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);
        background: linear-gradient(to top, #2c3e50, #2980b9);
    }
    
    main {
        width: 955px;
        padding: 35px 0;
    }
    
    .compat-container main h1 {
        font-family: Helvetica;
        font-weight: 400;
        color: white;
    }
    
    .compat-container main h4 {
        color: white;
    }
    
    .compat-container main h4 {
        font-weight: 300;
    }
    
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        border: none !important;
    }
    
    .css-kzf2d7-MuiInputBase-root-MuiOutlinedInput-root {
        border-radius: 0px !important;
    }
    
    .clicked {
        background-color: rgba(85, 85, 85, 0.4) !important;
        font-weight: 900 !important;
        color: orange !important;
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        color: #61dafb;
    }
    
    #companies {
        border-radius: 15px 0px 0px 15px !important;
    }
    
    #search-button {
        background-color: white !important;
        height: 56px;
        border-radius: 0px 8px 8px 0px !important;
        color: orange !important;
    }
    
    .sugg-button {
        margin: 8px !important;
        width: 400px;
    }
    
    #job-qoute {
        margin-left: 20px;
        width: 400px;
        margin-top: 20px;
        align-content: center;
        border-radius: 8px;
        padding-bottom: 1px;
        background-color: #FFE5B4;
        text-align: center;
        padding: 25px;
        font-weight: 500;
        font-style: italic;
        border: 3px inset orange
    }
    
    #search-button:hover {
        background-color: gray !important;
    }
    
    .search-form {
        display: flex;
        flex-direction: row;
    }
    
    .pop-search .css-i4bv87-MuiSvgIcon-root {
        fill: orange !important;
    }
    
    .footer-button {
        cursor: pointer;
        text-transform: none;
        margin: 0;
        padding: 0;
        color: black;
        font-weight: bold;
    }
    
    .footer-button:hover {
        background-color: transparent;
    }
    
    #login-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    #login-error {
        position: absolute;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animateDown {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(5px);
        }
        60% {
            transform: translateY(3px);
        }
    }
    
    @media screen and (max-width: 1200px) {
        #job-qoute {
            width: 200px;
        }
        #jobImg {
            width: 400px;
        }
        main {
            width: 730px;
        }
        .left-links a {
            display: none;
        }
        #ForEmployers {
            display: none;
        }
    }
    
    @media screen and (max-width: 780px) {
        #job-qoute {
            width: 250px;
            margin-left: 0;
        }
        #jobImg {
            width: 300px;
            margin-bottom: 15px;
        }
        main {
            width: 380px;
            text-align: center;
        }
        .left-links a {
            display: none;
        }
        #ForEmployers {
            display: none;
        }
        #header {
            font-size: 25px;
        }
        .logo-container {
            margin-right: 8px;
        }
        .footer-col {
            min-height: 35.2px;
            font-size: 15px;
        }
        .footer-links {
            font-size: 10px;
            margin: 2px 0;
            padding: 5px 0;
            line-height: 1.25;
        }
        #footer-inspire {
            margin-top: 10px;
        }
    }